{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Search</title>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" integrity="sha256-ivk71nXhz9nsyFDoYoGf2sbjrR9ddh+XDkCcfZxjvcM=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen">
</head>

<style src="{% static 'css/style.css' %}">
</style>

<body>
    
    <div class="row">
        <h1>Search Your Favorite Book!</h1>
    </div>

    <div class="row justify-content-center">
        <div class="col-4">
            <input type="text" id="search" class="form-control" placeholder="Title or Author">
        </div>
        <div class="col-4">
            <button id="button" type="button" class="button change-button">Search</button>
        </div>
    </div>
    

    <div class="tabel">
        <table class="table table-light table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col" style="text-align: center;">No</th>
                    <th scope="col" style="text-align: center;">Cover</th>
                    <th scope="col" style="text-align: center;">Title</th>
                    <th scope="col" style="text-align: center;">Authors</th>
                </tr>
            </thead>
            <tbody id="results"></tbody>
        </table>
    </div>

    

<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>