body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 5%;
    background-color: blanchedalmond;
}

/* .book-search{
    max-width: 720px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
} */

#button{
	font-family: 'Montserrat', sans-serif;  
  	text-align: center;
	background-color: purple;
	border: none;
	color: white;
	padding: 7px;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
    border-radius: 25px;
    width: 20%;
}



#search{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;

}

th{
    background: white;
    padding: 5px;
    /* border-color: white; */
}

.tabel{
    margin-top: 5%;
}

h1{
    margin-top: 10%;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 40pt;
    
}

#results{
    margin: auto;
}